html {
  background-color: #e2e8f0;
}

.App {
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", sans-serif;
  text-align: center;
}

h1 {
  font-weight: 800;
}

.search {
  margin: 1em;
}

.search input {
  margin-left: 1em;
  margin-bottom: 2em;
}

.movie-card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  margin: auto;
  width: 400px;
  box-shadow: 0px 30px 30px rgb(0 0 0 / 2%), 0px 0px 8px rgb(0 0 0 / 3%),
    0px 1px 0px rgb(0 0 0 / 5%);
  border-radius: 0.325em;
}

.movie-card h2 {
  color: #333;
}
.movie-card span {
  font-style: italic;
}

.movie-card img {
  width: 325px;
  margin: auto;
  padding: 2em;
}
